
data/sand/trend*
!data/sand/trend3/metrics
code/__pycache__/

code/\.ipynb_checkpoints/

*.aux

*.nav

*.out

*.snm

*.gz

*.toc

text/Universiade/presentation\.log

text/Universiade/universiade\.log

code/trained_models/sand/trend5/nf16_cb/verification/nn_output/

code/trained_models/sand/trend5/nf16_cb/verification/panorama/

code/trained_models/sand/trend5/nf16_cb/verification/side1/

code/trained_models/sand/trend5/nf16_cb/verification/side2/

code/trained_models/sand/trend5/nf32_cb_eta0/verification/nn_output/

code/trained_models/sand/trend5/nf32_cb_eta0/verification/panorama/

code/trained_models/sand/trend5/nf32_cb_eta0/verification/side1/

code/trained_models/sand/trend5/nf32_cb_eta0/verification/side2/

code/trained_models/sand/trend6/nf32_cb_eta1/verification/nn_output/

code/trained_models/sand/trend6/nf32_cb_eta1/verification/panorama/

code/trained_models/sand/trend6/nf32_cb_eta1/verification/side1/

code/trained_models/sand/trend6/nf32_cb_eta1/verification/side2/
