
data/sand/trend*
!data/sand/trend3/metrics
code/__pycache__/

code/\.ipynb_checkpoints/

*.aux

*.nav

*.out

*.snm

*.gz

*.toc

text/Universiade/presentation\.log

text/Universiade/universiade\.log

code/trained_models/sand/trend*/nf*/verification/side1/

code/trained_models/sand/trend*/nf*/verification/side2/

code/trained_models/sand/trend*/nf*/verification/panorama/

code/trained_models/sand/trend*/nf*/verification/nn_output/
